body {
    background-color: antiquewhite;
}

.navbar {
    background-color:red;
    color: white;
    display: inline-block;
    justify-content: space-around;

}

.container {
   grid-template-column: 3fr, 1fr;

    height: 200px;
    width: 200px;
}
#intro {
    align-items: center;
    justify-content: space-between;
}

.containerList {
    display:inline;
    justify-content: flex-start;
    float: left;
}

div>h2 {
    font-weight: bolder;
}

.images {
    display:flex;
}
